body {
    background: url('assets/images/website-layout.png') no-repeat center center fixed; 
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

.menu-header {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

menu {
    display: flex;
    justify-content: center;
}

.header {
    height: 90%;
    width: 60%;
}


.logo {
    height: 30px;
}

.footer {
    font-family : 'Times New Roman', Times, serif;
    font-size:10px;
    color: grey;
    position:fixed;
    bottom:0;
    left:0;
}

.aboutme-title{
    position: fixed;
    top: 250px;
    left: 500px;
    font-family : 'Ubuntu', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
}

.aboutme-text{
    position: fixed;
    top: 300px;
    left: 500px;
    font-family : 'Ubuntu', sans-serif;
    font-size: 15px;
}

.selfphoto {
    position: fixed;
    top: 250px;
    left: 150px;
    text-align: center;
    height: 250px;
    widows: 250px;
}