body {
    background: url('assets/images/website-layout.png') no-repeat center center fixed; 
    background-size: cover;
}

img {
    max-width: 100%;
    height: auto;
}

@keyframes animateCloud {
    0% {
        margin-left: 100%;
    }
    100% {
        margin-left: -800px;
    }
}

.cloud {
    width: 130px;
    height: 75px;
    grid-row-start: fixed;
    grid-row-end: 10;
    grid-column-start: 0;
    grid-column-end: 10;
    animation: 30s animateCloud linear infinite;
}


.grid-container {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 25% 25% 25% 25%;
}

.grid-item-center {
    grid-column-start: 4;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 7;
}

.grid-item-logo-git {
    grid-column-start: 4;
    grid-row-start: 8;
}

.grid-item-logo-resume {
    grid-column-start: 8;
    grid-row-start: 8;
}


.header {
    height: 90%;
    width: 60%;
}

.logo {
    height: 30px;
}

.footer {
    font-family : 'Times New Roman', Times, serif;
    font-size:10px;
    color: grey;
    position:fixed;
    bottom:0;
    left:0;
}
