<div class="card">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1524245510371-a10ac6be9ec9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
		"
	>
		<div class="card__bottom">
			<a href="https://arvindmaan.dev/Find-Me/" class="">
				<button>Demo</button>
			</a>
			<a href="https://github.com/arvind-maan/Find-Me/" class="">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Movie Finder</p>
		<h3 class="card__heading">Find-Me</h3>
	</div>
</div>
<div class="card">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-1.2.1&auto=format&fit=crop&w=969&q=80);
		"
	>
		<div class="card__bottom">
			<a href="https://github.com/arvind-maan/Reco-Me/" class="">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Movie Recommender System</p>
		<h3 class="card__heading">Reco-Me</h3>
	</div>
</div>
<div class="card">
	<div
		class="card__background"
		style="background-image: url(assets/images/blueslime.png);"
	>
		<div class="card__bottom">
			<a href="https://cadenchabot.itch.io/slimejam">
				<button>Demo</button>
			</a>
			<a href="https://github.com/ACubed/InterdimensionalSlime">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Platformer Game</p>
		<h3 class="card__heading">Interdimensional Slime</h3>
	</div>
</div>
<div class="card">
	<div
		class="card__background"
		style="background-image: url(assets/images/hero.png);"
	>
		<div class="card__bottom">
			<a href="https://github.com/ACubed/1HP-Dungeon" class="">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Dungeon Crawler Game</p>
		<h3 class="card__heading">1-HP Dungeon</h3>
	</div>
</div>
<div class="card">
	<div
		class="card__background"
		style="background-image: url(assets/images/colourmap.png);"
	>
		<div class="card__bottom">
			<a
				href="https://github.com/Arvind-Maan/ProceduralMapGeneration"
				class=""
			>
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Script/Misc.</p>
		<h3 class="card__heading">Procedural Map Generation</h3>
	</div>
</div>
<div class="card">
	<div
		class="card__background"
		style="background-image: url(assets/images/Red-BlackTreeGUI.png);"
	>
		<div class="card__bottom">
			<a href="https://github.com/Arvind-Maan/Red-BlackTree" class="">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">GUI</p>
		<h3 class="card__heading">Red-Black Tree GUI</h3>
	</div>
</div>
<div class="card">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1524347258796-81291228cfc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
		"
	>
		<div class="card__bottom">
			<a href="https://github.com/Arvind-Maan/Brackify" class="">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Tournament Builder</p>
		<h3 class="card__heading">{Brackify} ----- IN-PROGRESS</h3>
	</div>
</div>

<div class="card">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
		"
	>
		<div class="card__bottom">
			<a href="https://github.com/ACubed/chat-room" class="">
				<button>Code</button>
			</a>
		</div>
	</div>
	<div class="card__content">
		<p class="card__category">Online Chat Room</p>
		<h3 class="card__heading">Chat-Room ----- IN-PROGRESS</h3>
	</div>
</div>
