<a class="card" href="https://arvindmaan.dev/Find-Me/">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1524245510371-a10ac6be9ec9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
		"
	></div>
	<div class="card__content">
		<p class="card__category">Movie Finder</p>
		<h3 class="card__heading">Find-Me</h3>
	</div>
</a>
<a class="card" href="https://github.com/Arvind-Maan/Reco-Me">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1509281373149-e957c6296406?ixlib=rb-1.2.1&auto=format&fit=crop&w=969&q=80);
		"
	></div>
	<div class="card__content">
		<p class="card__category">Movie Recommender System</p>
		<h3 class="card__heading">Reco-Me</h3>
	</div>
</a>
<a class="card" href="https://github.com/AAAC-Group-23/InterdimensionalSlime">
	<div
		class="card__background"
		style="background-image: url(assets/images/blueslime.png);"
	></div>
	<div class="card__content">
		<p class="card__category">Platformer Game</p>
		<h3 class="card__heading">Interdimensional Slime</h3>
	</div>
</a>
<a class="card" href="https://github.com/AAAC-Group-23/1HP-Dungeon">
	<div
		class="card__background"
		style="background-image: url(assets/images/hero.png);"
	></div>
	<div class="card__content">
		<p class="card__category">Dungeon Crawler Game</p>
		<h3 class="card__heading">1-HP Dungeon</h3>
	</div>
</a>
<a class="card" href="https://github.com/Arvind-Maan/ProceduralMapGeneration">
	<div
		class="card__background"
		style="background-image: url(assets/images/colourmap.png);"
	></div>
	<div class="card__content">
		<p class="card__category">Script/Misc.</p>
		<h3 class="card__heading">Procedural Map Generation</h3>
	</div>
</a>
<a class="card" href="https://github.com/Arvind-Maan/Red-BlackTree">
	<div
		class="card__background"
		style="background-image: url(assets/images/Red-BlackTreeGUI.png);"
	></div>
	<div class="card__content">
		<p class="card__category">GUI</p>
		<h3 class="card__heading">Red-Black Tree GUI</h3>
	</div>
</a>
<a class="card" href="https://github.com/Arvind-Maan/Brackify">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1524347258796-81291228cfc9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
		"
	></div>
	<div class="card__content">
		<p class="card__category">Tournament Builder</p>
		<h3 class="card__heading">{Brackify} ----- IN-PROGRESS</h3>
	</div>
</a>

<a class="card" href="https://github.com/AAAC-Group-23/chat-room">
	<div
		class="card__background"
		style="
			background-image: url(https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
		"
	></div>
	<div class="card__content">
		<p class="card__category">Online Chat Room</p>
		<h3 class="card__heading">Chat-Room ----- IN-PROGRESS</h3>
	</div>
</a>
