$bgcolor: #f0f0f0;
$bg2color: #ffffff;
$avataroffset: -95px;
$circleradius: 50%;
$animationoffset: -20%;

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: $bgcolor;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content-avatar {
  bottom: $avataroffset;
  background-color: $bg2color;
  z-index: 1;
  position: relative;
  border: $bgcolor solid 25px;
  border-radius: $circleradius;
  object-fit: contain;
  width:200px;
  min-height: 200px;
  &::before {
    animation: pulse 1.5s linear infinite;
    border: $bgcolor solid 20px;
    border-radius: $circleradius;
    box-sizing: border-box;
    content: " ";
    height: 140%;
    left: $animationoffset;
    opacity: 0.9;
    position: absolute;
    top: $animationoffset;
    transform: scale(0.7);
    width: 140%;
    z-index: -1;
  }
}

.content-avatar-img {
  width: 92%;
  height: 92%;
  padding: 8px;

  z-index: 2;
  border-radius: $circleradius;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content-avatar-img:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;

  background-color: $bg2color;
  font-family: "Fira Sans";
  width: 100%;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content-row {
  position: absolute;
  width: 50%;
  bottom: 15%;
  background: $bg2color;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon {
  width: 30px;
  height: 30px;
  opacity: 0.2;
  z-index: 2;
}

.icon:hover {
  width: 30px;
  height: 30px;
  opacity: 1;
}

/*
    Colour schemes:
    white & #f0f0f0
    

*/
@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

@media only screen and (max-device-width: 500px) {
  .icon {
    width: 80px;
    height: 80px;
    opacity: 0.2;
    z-index: 2;
  }
  
  .icon:hover {
    opacity: 1;
  }
  .content-row {
    width: 100%;
  }
  
  .content-avatar { 
    width: 300px; height: 300px; border-radius: 50%; 
  }
  .content-avatar-img { 
    padding: 10px;
  } 
  .content-box {
    font-size: 250%;
  }
}
