$bgcolor: #f0f0f0;
$bg2color: #ffffff;
$avataroffset: -95px;
$circleradius: 50%;
$animationoffset: -20%;

html {
  height: 100%;
  background: url("/assets/images/cover2.png") no-repeat #666666;
  background-size: cover;
}

body {
  margin: 0;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.4);
  background-image: linear-gradient(140deg,rgba(68, 68, 68, 0.6) 20%, rgba(0, 0, 0, 0.8));
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content-avatar {
  bottom: $avataroffset;
  z-index: 1;
  position: relative;
  width: 100px;
  min-height: 100px;
  border-radius: $circleradius;
  
  &::before {
    animation: pulse 1.3s linear infinite;
    border: #000000 solid 20px;
    border-radius: $circleradius;
    box-sizing: border-box;
    content: " ";
    width:140%;
    height:140%;
    left: $animationoffset;
    opacity: 0.3;
    position: absolute;
    top: $animationoffset;
    transform: scale(0.7);
    z-index: -1;
  }
}

.content-avatar-img {
  width: 100%;
  height: 100%;
  padding: 8px;
  object-fit: contain;
  z-index: 2;
  border-radius: $circleradius;
  background: #a0a0a0;
  box-sizing: border-box;
  border: black solid 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.content-avatar-img:hover {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  font-family: "Fira Sans";
  width: 100%;
  height: 100%;
}

.content-row {
  position: absolute;
  width: 50%;
  bottom: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon {
  width: 30px;
  height: 30px;
  opacity: 0.2;
  z-index: 2;
}

.icon:hover {
  width: 30px;
  height: 30px;
  opacity: 1;
}

/*
    Colour schemes:
    white & #f0f0f0
    

*/
@keyframes pulse {
  to {
    opacity: 0;
    transform: scale(1);
  }
}

@media only screen and (max-device-width: 500px) {
  .icon {
    width: 80px;
    height: 80px;
    opacity: 0.2;
    z-index: 2;
  }
  
  .icon:hover {
    opacity: 1;
  }
  .content-row {
    width: 100%;
  }
  
  .content-avatar { 
    width: 300px; min-height: 300px; border-radius: 50%; 
  }
  .content-avatar-img { 
    padding: 10px;
  } 
  .content-box {
    font-size: 250%;
  }
}