$avataroffset: -20%;
$circleradius: 50%;
$animationoffset: -20%;
html {
	height: 100%;
	background: url("/assets/images/cover2.png");
	background-size: cover;
}

body {
	margin: 0;
	height: 100%;
	background-color: rgba(68, 68, 68, 0.5);
	background-image: linear-gradient(
		140deg,
		rgba(68, 68, 68, 0.6) 20%,
		rgba(0, 0, 0, 0.8)
	);
	background-size: cover;
	background-repeat: repeat;
}

.container {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.content-avatar {
	bottom: $avataroffset;
	z-index: 1;
	position: relative;
	min-width: 100px;
	min-height: 100px;
	border-radius: $circleradius;
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2), 0 3px 6px rgba(255, 255, 255, 0.2);
	background: url("/assets/images/new-avatar.png") no-repeat center;
	background-size: contain;
	&::before {
		animation: pulse 3s linear infinite;
		border: rgba(255, 255, 255, 0.5) solid 2px;
		border-radius: $circleradius;
		box-sizing: border-box;
		content: " ";
		width: 140%;
		height: 140%;
		left: $animationoffset;
		opacity: 0.3;
		position: absolute;
		top: $animationoffset;
		transform: scale(0.725);
		z-index: -1;
	}
}

.content-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "EB Garamond", serif;
	color: rgba(255, 255, 255, 0.6);
	text-align: center;
	line-height: 0.6;
}

.title {
	margin: 0 auto;
	font-size: 30px;
}

.description {
	font-size: 20px;
}

.content-row {
	width: 30%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.icon {
	margin: auto auto;
	width: 30px;
	height: 30px;
	opacity: 0.2;
	z-index: 2;
	&:hover {
		opacity: 1;
	}
}

@keyframes pulse {
	to {
		opacity: 0;
		transform: scale(1);
	}
}

$bp-sm: 300px;
$bp-md: 600px;
$bp-lg: 800px;

:root {
	--d: 700ms;
	--e: cubic-bezier(0.19, 1, 0.22, 1);
	--font-sans: "Rubik", sans-serif;
	--font-serif: "Cardo", serif;
}

* {
	box-sizing: border-box;
}

.page-content {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	max-width: 1024px;
	margin: 0 auto;
	font-family: var(--font-sans);

	@media (min-width: $bp-md) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $bp-lg) {
		grid-template-columns: repeat(4, 1fr);
	}
}

:root {
	--background-dark: #2d3548;
	--text-light: rgba(255, 255, 255, 0.6);
	--text-lighter: rgba(255, 255, 255, 0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;
	--width-container: 1200px;
	--colour-black: #1e1e1e;
	--colour-white: #ffffff;
}

.projects-top-row {
	font-family: var(--font-sans);
	display: flex;
	flex-direction: row;
	justify-items: left;
	line-height: 1;
	text-align: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 34px;
	background-color: #1e1e1e;
	color: white;
	font-size: 20px;
	box-shadow: 0 2px 2px -2px #1e1e1e;
}

.projects-section {
	background-color: rgba(68, 68, 68, 0.5);
	background-image: linear-gradient(
		140deg,
		rgba(68, 68, 68, 0.6) 20%,
		rgba(0, 0, 0, 0.8)
	);
	background-size: cover;
	background-repeat: repeat;
	align-items: flex-start;
	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: var(--spacing-l);
	row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
}

@media (min-width: 540px) {
	.card-grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 960px) {
	.card-grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card {
	list-style: none;
	position: relative;
}

.card:before {
	content: "";
	display: block;
	padding-bottom: 150%;
	width: 100%;
}

.card__background {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-radius: var(--spacing-l);
	bottom: 0;
	filter: brightness(0.75) saturate(1.2) contrast(0.85);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	transform: scale(1) translateZ(0);
	transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
	transform: scale(1.05) translateZ(0);
}

.card:hover button {
	opacity: 100%;
}
.card:hover button:hover {
	opacity: 100%;
	text-decoration: none;
	background: #1e1e1e;
}
.card-grid:hover > .card:not(:hover) .card__background {
	filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
}

.card__category {
	color: var(--text-light);
	font-size: 0.9rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
}

.card__heading {
	color: var(--text-lighter);
	font-size: 1.9rem;
	text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	line-height: 1.4;
	word-spacing: 100vw;
}

.card__bottom {
	left: -5%;
	width: 110%;
	bottom: 0;
	position: absolute;
	padding-top: 10%;
}

.two {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.two a {
	width: 60%;
}
blockquote.bubble {
	background-repeat: no-repeat !important;
	background-size: 100% 100%;
	box-sizing: content-box;
	line-height: 2;
	font-family: "EB Garamond", serif;
	font-size: large;
}
blockquote.speech {
	position: relative;
	left: 80px;
	bottom: 70px;
	background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/speech-bubble.svg);
	min-width: 80px;
	min-height: 40px;
	padding-top: 20px;
	padding-bottom: 50px;
}
button,
.button {
	--button: hsl(0, 0%, 12%);
	--button-hover: hsl(0, 0%, 20%);
	--button-active: hsl(0, 0%, 30%);
	--button-visited: hsl(0, 0%, 20%);
	--button-colour: var(--colour-white);
	--button-border: var(--colour-black);
}

button {
	font-family: var(--font-sans);
	opacity: 0%;
	width: 100%;
	padding: 1.7rem 1.7rem;
	color: white;
	font-weight: 600;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	background: #53b3cb;
	border: none;
	border-right: 1px groove #1e1e1e;
	border-top: 1px groove #1e1e1e;
}

button:hover {
	opacity: 100%;
	text-decoration: underline;
	background: var(--button-visited);
}

@media only screen and (max-device-width: 500px) {
	html {
		background: url("/assets/images/cover2.png") no-repeat #666666;
		background-position: top right;
		background-size: cover;
	}
	.icon {
		width: 80px;
		height: 80px;
		opacity: 0.7;
		z-index: 2;
	}
	.content-row {
		width: 100%;
	}

	.projects-top-row {
		width: 100%;
		height: 5%;
	}

	.content-avatar {
		min-width: 300px;
		min-height: 300px;
		border-radius: 50%;
	}

	.title,
	.description {
		font-size: 400%;
	}
	blockquote.bubble {
		line-height: 2;
		text-align: center;
		font-size: xx-large;
	}
	blockquote.speech {
		left: -60px;
		bottom: 70px;
		min-width: 200px;
		min-height: 40px;
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.card-grid {
		margin-top: 0px;
		padding-top: 0px;
		grid-template-columns: repeat(2, 1fr);
	}
	.projects-section {
		padding-top: 10px;
	}

	.card__category {
		color: var(--text-light);
		font-size: 1.9rem;
		margin-bottom: var(--spacing-s);
		text-transform: uppercase;
	}

	.card__heading {
		color: var(--text-lighter);
		font-size: 2.9rem;
		text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
		line-height: 1.4;
		word-spacing: 100vw;
	}

	button {
		opacity: 100%;
		padding: 3rem 1.9rem;
		font-size: 1.9rem;
	}
}
