<!doctype html>
<html>

<head>
  <link rel="icon" href="/assets/favicon.ico/favicon.ico" rel="icon" type="image/x-icon"/>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="content-avatar">
      <a href="/assets/resources/resume.pdf">
        <img src="/assets/images/new-avatar.png"> </img>
      </a>
    </div>
    <div class="content-box">
      <h1 class= "title">{{ page.title | downcase }}</h1>
      <p class= "description">{{ page.description | downcase }}</p>
    </div>
    <div class="content-row">
      {% include icons.html %}
    </div>
  </div>
  </div>
</body>

</html>